* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "Fira Sans", sans-serif;
    color: #1b1f24;
    font-size: 1rem;
  
    p {
      text-align: center;
      margin-bottom: 2rem;
    }
  }
  .login {
    background-color: #ffffff;
    box-shadow: 0px 0px 2rem 0px rgba(0, 0, 0, 0.15);
    border-radius: 2rem;
    width: 400px;
    min-height: 400px;
    padding: 2rem;
    margin: 0 auto;
  }
  form {
    label {
      display: block;
      font-size: 1rem;
    }
  }
  
  button {
    padding: 1rem 3rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: #0f470a;
    border: none;
    color: #ffffff;
    border-radius: 2rem;
    cursor: pointer;
    transition: 0.25s ease;
  
    &:hover {
      background-color: rgba(3, 17, 2, 0.9);
    }
  }
  
  input {
    background-color: #dadee1;
    color: #1b1f24;
    border: none;
    outline: none;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    width: 100%;
    border-radius: 2rem;
    margin-bottom: 1rem;
  }

  .btn-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }