.register {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
}

.column {
  flex: 1;
  padding: 10px;
  width: 100%;
  height: 100%;
}
.quit-border {
  border-bottom: 1px solid gray;
}

.register input {
  border-radius: 0;
  background-color: transparent;
}

.registerCont {
  color: black;
  box-shadow: 0px 0px 2rem 0px rgba(0, 0, 0, 0.15);
  width: 400px;
  min-height: 400px;
  padding: 2rem;
  margin: 0 auto;
}

form {
  label {
    display: block;
    font-size: 1rem;
  }
}

button {
  padding: 1rem 3rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: #0f470a;
  border: none;
  color: #ffffff;
  border-radius: 2rem;
  cursor: pointer;
  transition: 0.25s ease;

  &:hover {
    background-color: rgba(3, 17, 2, 0.9);
  }
}

.checkbox-container {
  display: flex;
  align-items: left;
}

input[type="checkbox"] {
  margin-right: 2px;
  margin-bottom: 10px;
}

.register:nth-child(0) {
  background-color: red;
  margin-top: 30px;
}

.register:second-child {
  background-color: black;
}
