.register-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.header-register {
  font-size: 2rem;
  padding: 1rem 0.8rem;
}

.registerForm {
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.registerForm input {
  background-color: white;
  border-radius: 0;
  border-bottom: 1px solid gray;
  width: 370px;
}
