.resumen-container {
  color: #000000;
  width: 100%;
  display: flex;
  margin: auto;
  padding: 12px 11px;
  flex-direction: column;
}

  }
  .cajas-resumen{
     display: flex;
     flex-direction: column;
 
  }
  .container-tituloresumen{
    display: flex;
    margin-bottom: 1.5rem;
  }
  .titulo-resumen{
    display: flex;
    justify-content: flex-start;
    font-weight: 600;
    margin: 0px 0px 30px;
    width: 400px;
    padding: 0 10px;
  }
  
  .resumen-item {
    background: #DEDFFB;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    /* border: #454342 solid; */
    
  }

  .resumen-item:nth-child(2){
    
  }

  .resumen-item:nth-child(3), .resumen-item:nth-child(4){
    background-color: #FCF7F5;
  }
  .resume-redondo{
    
    border-radius: 20px;
    padding: 5px;
  }
  .resumen-item:nth-child(1) .resume-redondo{
    background-color: #EBEBFF;
    
  }
  .resumen-item:nth-child(3) .resume-redondo {
    background-color: #FBEFE9; /* Reemplaza #color2 con el código de color deseado */
    
  }
  .resumen-item:nth-child(4) .resume-redondo {
    background-color: #FBEFE9; /* Reemplaza #color3 con el código de color deseado */
  }
  .resumen-item:nth-child(1) .texto-resumen-valor{
    border-bottom: 1px solid #000; /* Ajusta el color y el grosor de la línea según sea necesario */
    display: inline-block; /* Asegura que la línea se ajuste al contenido del texto */
    line-height: 1.5; /* Ajusta la altura de la línea del texto si es necesario */
    padding-bottom: 3px; /* Ajusta el espacio entre el texto y la línea */
  }
  .resumen-item:nth-child(3) .texto-resumen-valor{
    border-bottom: 1px solid #000; /* Ajusta el color y el grosor de la línea según sea necesario */
    display: inline-block; /* Asegura que la línea se ajuste al contenido del texto */
    line-height: 1.5; /* Ajusta la altura de la línea del texto si es necesario */
    padding-bottom: 3px; /* Ajusta el espacio entre el texto y la línea */
  }
  .resumen-item span{
    display: flex;
    align-items: center;
    margin: 3px;
    font-weight: 900;

  }
  .resumen-item-recibis{
    display: flex;
    justify-content: space-between;
  }
  .resumen-item  img{
    display: flex;
    padding-right: 13px;

  }


  .titulo-pagas{
    display: flex;
    background-color: #EBEBFF;
    border-radius: 20px;
    padding: 5px;

    
  }
  .texto-resumen-valor{
    font-size: 1.3rem;
  }
  .contenido-pagas{
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
  }
  .contenido-pagas-texto{
    display: flex;
    font-size: 0.9rem;
  }
  .titulo-pagas-bloque{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .resumen-boton {
    background-color: #000000;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 8px;
    width: 100%;
    font-weight: bold;
    cursor: pointer;
  }
  
  .resumen-boton:hover {
    background-color: #333333;
  }
  .terminos {
    text-align: center; /* Centra el texto */
    padding: 10px; /* Espaciado alrededor del texto */
    font-size: 0.9em; /* Tamaño de fuente más pequeño */
  }
  
  
  
  .terminos strong {
    font-weight: bold; /* Hace que "términos y condiciones" esté en negrita */
  }
  
  
  /* Ajustes responsivos */
  @media (width < 820px) {
    
    .todo-resumen {
      width: 95%;
      display: flex;
      flex-direction: column;
  }
    
  }
  @media (width < 1200px) {
    
    .resumen-container h2 {
      font-size: 2rem;
      margin-bottom: 10px;
  }
    .todo-resumen {
      width: 48%;
      display: flex;
      flex-direction: column;
  }
    .resumen-item{
      padding:24px   
     }

    .texto-final-resume {
      display: flex;
      padding: 14px;
      justify-content: center;
      flex-direction: column;
      align-items: center;
  }

  } 
  
  @media (width > 1200px) {
        /* .todo-resumen {
          width: 33%;
          display: flex;
          flex-direction: column;
      }  */
      .resumen-container {
        width: 47%;
      }
      .resumen-item{
        padding:24px   
      }

      .texto-final-resume {
        display: flex;
        padding: 14px;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }.resumen-container h2 {
      font-size: 2rem;
    }
      
  }

  @media (width < 1200px) {
    /* .todo-resumen {
      width: 33%;
      display: flex;
      flex-direction: column;
  }  */
  .resumen-container {
    width: 95%;
  }
  

  /* .texto-final-resume {
    display: flex;
    padding: 14px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}.resumen-container h2 {
  font-size: 2rem;
} */
  
}
 
  