header {
    width: 100%;
    position: fixed;
    height: 4rem;
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
}

header a {
    text-decoration: none;
    color: inherit;
}

header>div {
    margin: auto 0;
}

.title-app {
    padding-left: 1rem;
    font-size: 1.5em;
}

.title-app img {
    margin-right: .5rem;
}

.nav-items {
    display: flex;
    align-items: center;
    list-style: none;
    height: 100%;
    gap: .2rem;
    padding: 0 1rem;
}

.nav-buttons a,
.nav-items li {
    font-size: 1.1em;
    padding: .65rem 1.3rem;
    text-transform: capitalize;

}


.hamburger-react {
    display: none;
}

.link-signup,
.nav-items li:nth-child(5) {
    background-color: black;
    color: #fff;
    border-radius: 20px;
}

.nav-buttons a:hover,
.nav-items a:hover {
    color: #9499ff;
}

.backdrop {
    display: none;
}

.nav-buttons {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding-right: .5rem;
}

.link-signup {}

.link-login {}

@media (max-width: 890px) {
    .nav-items li:nth-child(5) {
        display: none;
    }

    .title-app,
    .hamburger-react {
        z-index: 6;
    }

    .hamburger-react {
        display: block;
        padding-left: 1rem;
    }



    .navbar {
        position: fixed;
        left: -100%;
        min-height: 100vh;
        width: 60%;
        padding: 5rem 0 3rem;
        background-color: inherit;
        transition: left ease 0.3s;
    }

    .nav-items {
        flex-direction: column;
        padding: 0;
    }

    .nav-active {
        z-index: 5;
        left: 0;
        bottom: 0;
    }

    .backdrop {
        display: block;
        position: fixed;
        min-height: calc(100vh - 4rem);
        width: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        margin-top: 4rem;
    }

    .hidden {
        opacity: 0;
        display: none;
        z-index: -4;
    }

    .bd-active {
        z-index: 4;
        opacity: 1;
        display: block;
    }

    .title-center {
        margin: auto;
    }
}


@media (max-width: 480px) {
    .navbar {
        width: 70%;
    }

    .nav-buttons {
        gap: 0;
    }

    .nav-buttons a {
        font-size: .95em;
        padding: .5rem .6rem;
    }
}














/* FOOTER */
footer {
    background-color: white;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}