* {
  margin: 0;
  padding: 0;
}
.doneRegister {
  margin-top: 4rem;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.doneContainer {
  color: black;
  width: 480px;
  min-height: 400px;
  padding: 2rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.custom-circle {
  width: 100px;
  height: 100px;
  background-color: var(--color1);
  border-radius: 50%;
}

.read {
  margin-top: 3rem;
  font-size: 30px;
}

.first_info {
  margin-top: 2rem;
  font-weight: bolder;
}

.second_info {
  margin-top: 1rem;
  font-size: 12px;
}

.btn-verify {
  margin-top: 8rem;
}

@media (aspect-ratio < 12/10) {
  .doneRegister {
    flex-direction: column;
    height: auto;
  }

  .column-1,
  .column-2 {
    width: 100%;
    min-height: 50vh;
    margin-top: 1rem;
  }

  .doneContainer {
    margin-top: 2rem;
    width: 100%;
    padding: 0;
  }
}
