.Finalprest-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #ffffff; /* o cualquier otro color de fondo que necesites */
    height: 100vh; /* Asegura que tome toda la altura de la pantalla */
    text-align: center;
  }
  
  .Finalprest-container h1 {
    font-size: 2em;
    color: #000000;
    margin-bottom: 0.5em;
    opacity: 0.8;
  }
  
  .Finalprest-container h2 {
    font-size: 1.5em;
    color: #000000;
    margin-bottom: 1em;
    opacity: 0.8;
  }
  
  .Finalprest-container p {
    color: #000000;
    margin-bottom: 2em;
    font-size: 0.9rem;
    opacity: 0.9;
  }
  
  .inicio-button {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: #000000; /* Color de fondo del botón */
    color: #ffffff; /* Color de texto del botón */
    font-size: 1em;
    cursor: pointer;
  }
  
  /* Añade estilos adicionales para hover, focus, etc., si es necesario */
  .inicio-button:hover {
    background-color: #333333; /* Color más oscuro para el hover */
  }
  