* {
  margin: 0;
  padding: 0;
}

.verify {
  margin-top: 4rem;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.verifyContainer {
  color: black;
  width: 480px;
  min-height: 400px;
  padding: 2rem;
  margin: 0 auto;
  /* PEQUEÑOS AJUSTES (by Franco) */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.column-1,
.column-2 {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.column-1 {
  width: 55%;
}

.column-2 {
  width: 45%;
  background-color: var(--color1);
}

.logoLeftSide {
  font-size: 18px;
  font-weight: bold;
  color: #01060b;
  align-items: left !important;
}

.descriptionL {
  font-size: 16px;
  color: #322929;
}

.btn-verify-later {
  background-color: white;
  color: black;
  border: 1px black solid;
  margin-top: 20px;
}

.btn-verify {
  margin-top: 20px;
}

.info_to_userL {
  opacity: 0.5;
  margin-top: 10rem;
}

@media (aspect-ratio < 12/10) {
  .verify {
    flex-direction: column;
    height: auto;
  }

  .column-1,
  .column-2 {
    width: 100%;
    min-height: 50vh;
  }

  /* PEQUEÑOS AJUSTES (by FRANCO) */
  .verifyContainer {
    margin-top: 2rem;
    width: 100%;
    padding: 0;
  }
}
